<div class="overflow-hidden flex flex-col">
  <div class="overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg py-3 px-4 flex flex-col-reverse gap-3 md:flex-row justify-between">
        <div class="relative">
          <ng-content select="[searchTableContent]"></ng-content>

          <div class="absolute inset-y-3 start-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div>

        <div>
          <ng-content select="[tableButtonContent]"></ng-content>
        </div>
      </div>

      <div class="mt-5 border rounded-lg overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200 table-auto">
          <thead class="bg-slate-100">
            <ng-content select="[tableTheadContent]"></ng-content>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <ng-content select="[tableTbodyContent]"></ng-content>
          </tbody>
        </table>
      </div>
      <ng-content select="[paginationContent]"></ng-content>
    </div>
  </div>
</div>
